/**
 * We can't yet do anything to stop the "copy" button copying the command
 * prompt from "console" code blocks but this at least stops the user selecting
 * it for copying.
 *
 * Shamelessly lifted from https://alexwlchan.net/2021/console-copying/.
 */
code span.gp {
    /* Disable text selection highlighting
   * https://stackoverflow.com/a/4407335/1558022 */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/*
Assign brand colours to the code line highlight variables and copy the style rule from the MkDocs Material docs.
*/
:root > * {
    --md-code-hl-color: var(--md-primary-fg-color);
    --md-code-hl-color--light: #26a6991a;
}

.highlight .hll {
    background-color: var(--md-code-hl-color--light);
    box-shadow: 2px 0 0 0 var(--md-code-hl-color) inset;
    display: block;
    margin: 0 -1.1764705882em;
    padding: 0 1.1764705882em;
}
